# This file used to override advanced jira properties.
# Syntax:
# <property-name> = <value>
#
# A full list of property names and default values can be seen in:
# <jira-application-dir>/WEB-INF/classes/jpm.xml

{%- from 'jira/conf/settings.sls' import jira with context %}   
jira.home = {{ jira.home }}

{%- for property_name, property_value in salt['pillar.get']('jira:properties', {}).items() %}
{{ property_name }} = {{ property_value }}
{%- endfor %}


